<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1016501746183-ndc0j92vi98oj9pff663873so4b47rnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016501746183-ndc0j92vi98oj9pff663873so4b47rnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBNyR8xCTVymbXg67rioO5coiLm5jjNhdU</string>
	<key>GCM_SENDER_ID</key>
	<string>1016501746183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kai.DemoLoginSocial</string>
	<key>PROJECT_ID</key>
	<string>demologinsocial-1525404030281</string>
	<key>STORAGE_BUCKET</key>
	<string>demologinsocial-1525404030281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016501746183:ios:1ee1fb6f442665d5</string>
	<key>DATABASE_URL</key>
	<string>https://demologinsocial-1525404030281.firebaseio.com</string>
</dict>
</plist>